.nav-bar{
    background-color: white;
    height: 80px;
    width: 100%; 
    overflow: hidden;
    position: fixed;
    top:0;
    
}
#home_icon{
    background-color: white;
    width: 35px;
    height: 35px;
    border-color: rgb(0, 0, 0);
    border-radius: 2px;
    display: inline-block;
    border-style: solid;
    font-size: 20px;
}
#nav_option{
    list-style-type: none;
    margin: 0;
    padding-left: 400px;
    display: inline-block;
    
}
.nav_item_style{
    display: inline-block;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 530;
}

.upper_button{
    margin: 0px;
    padding-left: 250px;  
    display: inline-block;
}

.upper_button_style{
    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 5px;

}
.upper_button_style:hover{
    background-color: rgb(198, 198, 198);
}   
#down_arrow{
   color: rgb(143, 136, 136);
}
.intro{
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 50px;
}

.intro_first{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: -30px;
}
.intro_second{
    font-size: 25px;
    color: rgb(159, 158, 158);
    font-weight: 100;
}
.about_me{
    background-color: rgb(232, 232, 232);
    display: inline-block;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
.about_me:h2{
    font-size: 50px;
    display: inline-block;

}

#heading_line_1{
    width: 400px;
    color: black;
    height: 1px;
    background-color: black;
    display: inline-block;   
    margin: 10px;
}

#heading_line_2{
    width: 400px;
    color: black;
    height: 1px;
    margin: 10px;
    background-color: black;
    display: inline-block;
}
.about_info{
    display: flex;
    font-size: 18px;
    padding-left: 90px;
}
.about_para{
    width: 35%;
    padding-left: 120px;
    text-align: justify;
    
}
.para_content{
    padding-top: 15px;
}

.about_image{
 
    padding-left: 130px;
    margin: 10px;
    padding-top: 45px;
    
}
.experience{
    height: 600px
}
.job_all_details{
    display: flex;
}
.job_info_1{
    width: 230px;
    font-size: 18px;
    padding-left: 240px;
    text-align: end;
    font-size: 20px;
    margin-top: 30px;
}
.job_info_s1{
    margin-bottom: -20px;
}
.job_info_s3{
    margin-top: -5px;
}
#job_title_line1{
   width: 230px;
   margin-right: 300px;
   margin-top: -15px;
}
.job_detail_bp{
    width: 1000px;
    font-size: 18px;
}
.job_detail_content{
    width: 600px;
}

.job_detail_li{
    padding: 5px 5px;
}
#job_detail_content_2{
    margin-left: 230px;
    font-size: 18px;
    font-size: 18px;
    margin-top: 30px;
}
#job_info_2{
    padding-right: 320px;
    width: 150px;
    font-size: 20px;
    margin-top: 50px;   
    margin-right: 200px;
    
}
.project1_img{
    margin: 30px;
    margin-left: 180px;
}
.project_feature{
    display: flex;  
    width: 100%;
    height: 350px;
}
.project1_details{
    height: 50px;
    width: 400px;
    margin-left: 5px;
    margin-top: 20px;
}
.project_language{
    display: flex;
}
#feature_project{
    display: flex;

}
.featured_project_style{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(226, 224, 224);

}
/* project 2 style */
#project2_img{
    margin-top: 60px;
    margin-left: 30px;          
}
#feature_project2{
    display: flex;  
    width: 100%;
    height: 350px;
}
#project2_details{
    height: 50px;
    width: 500px;
    margin-left: 250px;
    margin-right: -120px;
    margin-top: 40px;
    text-align: end;
}
.project_language{
    display: flex;
}

.other_project_main {
    display: flex;
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-left: 220px;
}
.other_project_main2{
    display: flex;
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-left: 30px;
}
.other_image img {
    width: 150px;
    border-radius: 5px; /* Add border-radius for rounded corners if desired */
}

.other_project_detail{
    margin-left: 20px;
    margin-top: -20px; 
}
.other_language{
    margin-left: -40px;
}

.write_message{
    margin-left: 700px;
    width: 100px;
    height: 50px;
}
.contact_section{
    width: 100%;
    height: 500px;
}

#contact-form{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    margin-left: 500px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 500px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}

#submit_btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 720px;
}

button:hover {
    cursor: pointer;
}
